body {
    background-color: cornsilk;
}
h1 {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.nome {
    border: 1px solid plum;

   
}

.foto {
    border: 1px solid black;
    border-radius: 100px;
}

.descricao {
    position: absolute;
    right: 50px;
    top: 100px;
    font-size: 20px;
    font-family: monospace;
}